/* Team:    Panda Gang
Members:    Stephen Lee, Anthony Ngon, Kris Calma, Nicolas Vasquez
Contact:    angon@csu.fullerton.edu, stephenjonglee@csu.fullerton.edu, calmakris@csu.fullerton.edu, nickvas67@csu.fullerton.edu
Github:     https://github.com/anthonyn5600/335-Larks-Panda-Gang
Project 1:  Cella Larks Ant
File Description: css file to style the HTML page 
*/


body {
  text-align: center;
  font-family: sans-serif;
}
canvas {
  background-color: black;
}
